.container-wrapper {
  width: 90%;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
  margin: 20px auto 0;
}

.slider {
  position: absolute;
  height: 100%;
  color: #edebeb;
}

.slider .slider-item {
  float: left;
  display: block;
}


.container-wrapper .left-arrow {
  position: absolute;
  left: 0;
  top: 40%;
  height: 10%;
  width: 10%;
  cursor: pointer;
}

.container-wrapper .right-arrow {
  position: absolute;
  right: 0;
  top: 40%;
  height: 10%;
  width: 10%;
  cursor: pointer;
}

.dot-container {
  position: absolute;
  bottom: 5%;
  left: 45%;
  display: none;
}

.dot-container>span {
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: .5;
  background-color: white;
  cursor: pointer;
}

.dot-container>span.active-button {
  background-color: black;
  opacity: .8;
}

@media only screen and (min-width: 480px) {
  .container-wrapper {
    width: 90%;
    padding-bottom: 50%;
  }

  .dot-container {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .container-wrapper {
    width: 90%;
    padding-bottom: 40%;
  }
}